.main-body {
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.exercise-container {
    width: 100%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.webcam {
    border-radius: 10px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.result-container {
    margin-top: 20px;
    width: 100%;
}

.result-stats {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-danger {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

body{
    overflow: scroll !important;
}